---
import './header.scss';

import Button from '@components/ui/button/Button.astro';
---

<header class="header">

  <div class="container">

    <div class="header__wrapper">

      <!-- LOGO -->

      <a
        href="/"
        class="header__logo"
      >

        <span class="header__logo-icon">
          ⚙
        </span>

        <div class="header__logo-text">

          <strong>NON-STOP</strong>

          <span>СЕРВИС</span>

        </div>

      </a>

      <!-- ACTION -->

      <div class="header__action">

        <Button text="Связаться" />

      </div>

    </div>

  </div>

</header>