---
import './button.scss';

interface Props {
  text?: string;
}

const { text = 'оставить заявку' } = Astro.props;
---

<button
  class="ui-button ui-button--primary"
  onclick="window.dispatchEvent(new CustomEvent('open-lead-popup'))"
>
  {text}
</button>
