---
import '@styles/globals.scss';

// Component styles (preload before client-side rendering)
import '@components/sections/Repairs/Repairs.scss';
import '@components/sections/Process/Process.scss'; 
import '@components/sections/Hero/hero.scss';
import '@components/sections/Hero/hero-info.scss';
import '@components/sections/MicroFooter/MicroFooter.scss';
import '@components/ui/button/button.scss';
import '@components/ui/LeadPopup/lead-popup.scss';
import '@components/layout/header.scss';

import LeadPopup from '@components/ui/LeadPopup/LeadPopup.vue';
---

<!doctype html>

<html lang="ru">

  <head>

    <meta charset="UTF-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <title>
      РЕМКОНСОЛЬ.РФ
    </title>

    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />

    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Russo+One&display=swap"
      rel="stylesheet"
    />

  </head>

  <body>

    <slot />

    <!-- GLOBAL POPUP -->

    <LeadPopup client:only="vue" />

  </body>

</html>