---
import Layout from '@layouts/Layout.astro';

import Header from '@components/layout/Header.astro';

import Hero from '@components/sections/Hero/Hero.astro';

import Repairs from '@components/sections/Repairs/Repairs.vue';

import Process from '@components/sections/Process/Process.vue';


import MicroFooter from '@components/sections/MicroFooter/MicroFooter.astro';
---

<Layout>

  <Header />

  <main>

    <Hero />

    <Repairs client:only="vue" />

    <Process client:only="vue" />
    
  </main>

  <MicroFooter />

</Layout>