---
import './MicroFooter.scss';
---

<footer class="micro-footer">

  <div class="container">

    <div class="micro-footer__wrapper">

      <!-- LEFT -->

      <div class="micro-footer__brand">

        <a
          href="/"
          class="micro-footer__logo"
        >

          <span class="micro-footer__logo-icon">
            ⚙
          </span>

          <div class="micro-footer__logo-text">

            <strong>
              NON-STOP
            </strong>

            <span>
              СЕРВИС
            </span>

          </div>

        </a>

        <p class="micro-footer__copyright">
          © 2026 Non-Stop сервис.
          Ремонт техники в Ногинске.
        </p>

      </div>

      <!-- CENTER -->

      <nav class="micro-footer__nav">

        <a href="#">
          Политика конфиденциальности
        </a>
 

      </nav>

      <!-- RIGHT -->

      <div class="micro-footer__dev">

        <span>
          Разработка сайта
        </span>

        <a
          href="https://01вкладка.рф"
          target="_blank"
          rel="noopener noreferrer"
        >
          01вкладка.рф
        </a>

      </div>

    </div>

  </div>

</footer>